.list {
    display: flex;
    justify-items: space-around;
    flex-wrap: wrap;
    
}

.card {
    display: flex;
    align-items: center;
    border-radius: 25%;
    margin: 20px;


}

.card-img-top {
    
    width: 125px;
}